<a href="https://colab.research.google.com/github/mohdtaufique06/Self--practise-Regression-using-python/blob/main/Coding_Assessment_MT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
string = "geeks quiz practice code" 
string[::-1]

'edoc ecitcarp ziuq skeeg'

In [ ]:
def reverse_string(string):
  return string[::-1]
string = "geeks quiz practice code"
print(reverse_string(string))

edoc ecitcarp ziuq skeeg

In [ ]:
list_string=string.split()[::-1]
print(list_string)
# for i in list_string:
#   print(i[-10,-1])

['code', 'practice', 'quiz', 'geeks']

In [ ]:
string_joi=' '.join(list_string)

In [ ]:
string_joi

'code practice quiz geeks'

In [ ]:
print([i if i%2==0 else i+1 for i in range(4)])

[0, 2, 2, 4]

In [ ]:
str1=input()
substr=input()
if substr in str1:
  print("yes")
else:
  print("no")

mohd
taufique
no

In [ ]:
def foo():
    try:
        return 1
    finally:
        return 2
k = foo()
print(k)

2

In [ ]:
num = int(input())
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "not a prime number")
            break
    else:
        print(num, " is a Prime Number")
else:
    print(num, "not a prime number")

11
11  is a Prime Number

In [ ]:
list1= [1,2,3,4]
list2=[1,2,3]
common=[x for x in list1 if x in list2 ]
print(common)

[1, 2, 3]

In [ ]:
# div_3=[i for i in range(1000) if i%3==0]
# div_3

In [ ]:
#Write a list comprehension for producing a list of numbers between 1 and 1000 that are divisible by 3.
# num_list=list(range(1000)) 
# num_list

In [ ]:
def armstrong(num):
  num_str=str(num)
  num_len=len(num_str)
  return num==sum([int(digit)**num_len for digit in num_str])
num=int(input())
if armstrong(num):
  print("it is an armstrong number")
else:
  print("it is not armstrong number")

153
it is an armstrong number

In [ ]:
l=[1,2,3,4,5]
[x and 1 for x in l]

[1, 1, 1, 1, 1]

In [ ]:
string_1="almabetter is the best"
list_str=string_1.split(" ")
even_len=[i for i in list_str if len(i)%2==0]
# for i in list_str:
#   if len(list_str[i])
print(even_len)

['almabetter', 'is', 'best']

In [ ]:
div_2_5=[x for x in range(100) if x%2==0 and x%5==0]
print(div_2_5)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [1]:
def find_duplicates(lst):
    """
    Returns a list of duplicate elements in the input list.
    """
    duplicates = []
    for item in lst:
        if lst.count(item) > 1 and item not in duplicates:
            duplicates.append(item)
    return duplicates

In [2]:
my_list = [1, 2, 3, 4, 2, 5, 4, 6, 7, 8, 8]
duplicates = find_duplicates(my_list)
print(duplicates)  # Output: [2, 4, 8]

[2, 4, 8]

In [3]:
def find_duplicate_chars(string):
    """
    Returns a list of duplicate characters in the input string.
    """
    duplicates = []
    for char in string:
        if string.count(char) > 1 and char not in duplicates:
            duplicates.append(char)
    return duplicates

In [4]:
my_string = "hello world"
duplicates = find_duplicate_chars(my_string)
print(duplicates)  # Output: ['l', 'o']

['l', 'o']